<div><img href="../assets/ToDoTitle.jpg"></div>
<div class="todos">
    <form (submit)="addTodo()" #todoForm="ngForm" ngModel>
        <input 
            type="text"
            name="inputTodo"
            placeholder="Enter todo task..."
            class="todo-input"
            [(ngModel)]="inputTodo"
            required
        />
        <input [disabled]="!todoForm.form.valid" type="submit" value="Add Todo" class="button-55">
    </form>
    <div *ngFor="let todo of todos; let i = index;" class="todo {{ todo.completed ? 'done' : '' }}">
        <div class="id">{{ i }}</div>
        <div class="content" (click)="toggleDone(i)">
            {{ todo.content }}
        </div>
        <div class="duedate">
            <label for="duedate" class="calendar-label">Due Date: </label>
            <input type="date" id="duedate" class='calendar' name="duedate">
        </div>
        <button class="delete" (click)="deleteTodo(i)">Remove</button>
    </div>
</div>